::selection{
  color: black;
  background: #edaa00;
}
:focus{
  outline:0;
}
.none{
  display: none !important;
}
#app{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
header{
  width: 100%;
}
header auth{
  display: inline-block;
  float: right;
  top: 0;
  right: 0;
  padding: 10px;
  height: 20px;
}
header auth a{
  text-decoration: underline;
  cursor: pointer;
}
header auth a:link, header auth a:visited{
  color: black;
  text-decoration: underline;
}
header auth a:hover{
  color: #edaa00;
}
header auth a:active{
  color: #febb11;
}
header auth button{
  cursor: pointer;
  background-color: #B71C1C;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}
header auth button:hover{
  background-color: #C62828;
}
header auth button:active{
  background-color: #D32F2F;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
header name{
  display: inline-block;
  padding: 30px;
  font-size: 3em;
  font-weight: 300;
}
nav{
  display: table;
  float: right;
  margin-right: 10px;
}
nav tab{
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  background-color: #BDBDBD;
  padding: 6px 10px;
  border-radius: 5px 5px 0 0;
}
nav tab:hover{
  background-color: #E0E0E0;
}
nav tab:active{
  background-color: #EEEEEE;
}
nav tab.selected{
  background: #01579B;
  color: white;
}
tags{
  display: table;
  width: 100%;
  padding: 24px 10px;
  background: #01579B;
  color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}
tags span{
  vertical-align: middle;
  font-size: 1.2em;
  padding: 10px 20px;
}
tags tag{
  cursor: pointer;
  vertical-align: middle;
  margin-right: 5px;
  background-color: #E0E0E0;
  padding: 10px 20px;
  color: black;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
tags tag:hover{
  background-color: #EEEEEE;
}
tags tag:active{
  background-color: #BDBDBD;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
tags tag.selected{
  background-color: #BDBDBD;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
  color: #01579B;
}
content{
  display: table;
  width: 100%;
  min-height: 70%;
  border-bottom: 1px solid #E0E0E0;
}
content panel#left{
  display: table-cell;
  width: 70%;
  border-right: 1px solid #E0E0E0;
}
content panel#left divider {
  display: block;
  height: 1.2em;
  width: 1px;
  margin: 0 3px;
  background-color: #BDBDBD;
  vertical-align: middle;
}
content panel#left item{
  display: none;
  width: 92%;
  margin: 2%;
  padding: 2%;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  border-radius: 0 0 5px 5px;
  transition: 0.2s;
}
content panel#left item:hover{
  box-shadow: 3px 3px 18px rgba(0,0,0,.3);
}
content panel#left item.idle{
  border-top: solid 3px #9E9E9E;
  background-color: #FAFAFA;
}
content panel#left item.building{
  border-top: solid 3px #8BC34A;
  background-color: #F1F8E9;
}
content panel#left.all item, content panel#left.physical item.physical, content panel#left.virtual item.virtual{
  display: table;
}
content panel#left item thumb{
  display: table-cell;
  vertical-align: middle;
  width: 60px;
}
content panel#left item thumb img{
  display: inline-block;
  vertical-align: middle;
  background-color: #BDBDBD;
  border-radius: 50%;
  padding: 30px;
}
content panel#left item div{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 2%;
  line-height: 1.2em;
}
content panel#left item div > *{
  display: table;
  width: 100%;
  margin: 8px 0;
}
content panel#left item div taginput{
  background-color: white;
  border: 1px solid #BDBDBD;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 4px 6px;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: 22px;
  cursor: text;
}
content panel#left item div taginput:hover{
  border: 1px solid #0091EA;
}
content panel#left item div taginput:active{
  border: 1px solid #00B0FF;
}
content panel#left item div taginput dynamictags{
  display: table-cell;
}
content panel#left item div taginput input{
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  padding: 5px 10px 5px 0;
  width: 100%;
  max-width: inherit;
}
content panel#left item div info{
  font-weight: 600;
}
content panel#left item div > * > *{
  float: left;
  vertical-align: middle;
}
content panel#left item div control add{
  cursor: pointer;
  text-decoration: underline;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 357 357'><path d='M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z'/></svg>") no-repeat center left;
  background-size: 10px;
  padding-left: 12px;
}
content panel#left item div control add:hover{
  color: #01579B;
}
content panel#left item div res{
  cursor: pointer;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.965 27.965'><path d='M13.98,0C6.259,0,0,6.261,0,13.983c0,7.721,6.259,13.982,13.98,13.982c7.725,0,13.985-6.262,13.985-13.982C27.965,6.261,21.705,0,13.98,0z M19.992,17.769l-2.227,2.224c0,0-3.523-3.78-3.786-3.78c-0.259,0-3.783,3.78-3.783,3.78l-2.228-2.224c0,0,3.784-3.472,3.784-3.781c0-0.314-3.784-3.787-3.784-3.787l2.228-2.229c0,0,3.553,3.782,3.783,3.782c0.232,0,3.786-3.782,3.786-3.782l2.227,2.229c0,0-3.785,3.523-3.785,3.787C16.207,14.239,19.992,17.769,19.992,17.769z'/></svg>") no-repeat center right;
  background-size: 10px;
  padding-right: 12px;
  margin-right: 12px;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
content panel#left item div res:hover {
  color: #B71C1C;
}
content panel#left item div control deny{
  cursor: pointer;
  display: none;
  float: right;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path d='M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M16,4c2.59,0,4.973,0.844,6.934,2.242L6.238,22.93C4.84,20.969,4,18.586,4,16C4,9.383,9.383,4,16,4z M16,28c-2.59,0-4.973-0.844-6.934-2.242L25.762,9.07C27.16,11.031,28,13.414,28,16C28,22.617,22.617,28,16,28z'/></svg>") no-repeat center left;
  background-size: 10px;
  padding-left: 12px;
}
content panel#left item.idle div control deny{
  display: block;
}
content panel#right{
  display: table-cell;
  width: 30%;
  vertical-align: top;
}
content panel#right span{
  display: block;
  padding: 8% 5% 5% 5%;
  font-size: 1.4em;
  font-weight: 600;
}
content panel#right div{
  padding: 5%;
  width: 100%;
  display: table;
}
content panel#right name{
  display: table-cell;
  width: 50%;
}
content panel#right history div:first-of-type{
  margin-top: 3%;
}
content panel#right history div{
  padding: 1% 5%;
  width: 100%;
  display: table;
}
content panel#right divider{
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E0E0E0;
}
copyright {
  width: 100%;
  text-align: center;
  padding: 5px 0 10px 0;
  font-size: 0.8em;
  display: table;
}
@media screen and (max-width: 640px){
  *{
    font-size: 12px;
  }
  content panel#left{
    width: 100%;
    border-right: none;
  }
  content panel#right{
    display: none;
  }
  content panel#left divider {
    display: none;
  }
  content panel#left item thumb{
    display: none;
  }
  content panel#left item div > * > *{
    clear: both;
    line-height: 1.6em;
    font-size: 1.2em;
  }
  content panel#left item div control deny{
    padding-right: 12px;
  }
}
@media screen and (min-width: 1024px){
}
@media screen and (min-width: 1280px){
  *{
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px){
  *{
    font-size: 18px;
  }
}
@media screen and (min-width: 1680px){
  *{
    font-size: 24px;
  }
  nav tab{
    padding: 14px 20px;
  }
}
@media screen and (min-width: 1920px){
  *{
    font-size: 28px;
  }
  header auth button{
    padding: 10px 16px;
  }
}